.movie {
  font-family: 'Inter', 'Arial', sans-serif;
  margin: 0 auto;
  padding: 40px 10px 10px 10px;
  display: grid;
}

.movie__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  row-gap: 39px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.movie__button-more {
  border-radius: 6px;
  border: 1px solid #424242;
  background-color: transparent;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  min-height: 36px;
  width: 240px;
  padding: 0;
  margin-top: 50px;
  margin-bottom: 80px;
  justify-self: center;
  cursor: pointer;
}

.movie__button-more:hover {
  opacity: .8;
}

@media screen and (min-width: 600px) {
  .movie {
    padding-top: 70px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .movie__button-more {
    width: 320px;
  }

  .movie__list {
    row-gap: 47px;
    column-gap: 30px;
  }
}

@media screen and (min-width: 900px) {
  .movie {
    max-width: 1280px;
    padding-top: 70px;
    padding-left: 70px;
    padding-right: 70px;
  }

  .movie__list {
    row-gap: 58px;
  }

  .movie__button-more {
    margin-top: 76px;
    margin-bottom: 71px;
  }
}
