.not-found {
  font-family: 'Inter', 'Arial', sans-serif;
  color: #fff;
  position: fixed;
  display: flex;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  row-gap: 10px;
  background-color: #202020;
}

.not-found__title {
  margin: 0;
  font-size: 80px;
  font-weight: 400;
}

.not-found__text {
  margin: 0;
  font-size: 12px;
  font-weight: 400;
}

.not-found__back-btn {
  border: none;
  background-color: transparent;
  margin-top: 274px;
  margin-bottom: 30px;
  color: #4285F4;
  font-size: 12px;
  font-weight: 400;
}

.not-found__back-btn {
  opacity: .7;
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  .not-found {
    row-gap: 5px;
    justify-content: center;
  }

  .not-found__title {
    font-size: 140px;
    padding-top: 28%;
  }

  .not-found__text {
    font-size: 16px;
  }

  .not-found__back-btn {
    font-size: 14px;
    margin-top: 184px;
  }
}

@media screen and (min-width: 900px) {
  .not-found__title {
    padding-top: 17%;
  }
}

