.navigation {
  position: fixed;
  z-index: 2;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  opacity: 0;
  width: 65%;
  max-width: 100%;
  background-color: #202020;
  transform: scale(0);
  transition: transform 0.4s ease-in-out 0.4s;
}

.navigation_active {
  opacity: 1;
  transform: scale(1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-top: 130px;
  padding-bottom: 42px;
  row-gap: 150px;
}

.navigation_active a {
  font-size: 18px;
}

.navigation__menu {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  column-gap: 24px;
  row-gap: 25px;
}

.navigation__link {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 7px;
}

.navigation__link:hover {
  opacity: .7;
}

.navigation__link_active {
  border-bottom: 2px solid #fff;
}

.navigation__close {
  width: 31px;
  position: absolute;
  right: 14px;
  top: 14px;
  cursor: pointer;
}

@media screen and (min-width: 600px) {

  .navigation_active {
    width: auto;
    min-width: 520px;
    padding-top: 159px;
    padding-bottom: 90px;
  }

  .navigation__menu {
    align-items: center;
    column-gap: 16px;
    row-gap: 31px;
    margin: 0;
    padding: 0;
  }

  .navigation__link {
    font-size: 13px;
    font-weight: 400;
    padding-bottom: 4px;
  }

  .navigation__close {
    right: 23px;
    top: 23px;
  }

  .navigation__close:hover {
    opacity: .8;
  }

  .navigation__button:hover {
    opacity: .8;
  }
}

@media screen and (min-width: 900px) {
  .navigation__close {
    display: none;
  }

  .navigation__menu {
    flex-direction: row;
  }

  .navigation {
    position: relative;
    display: flex;
    width: 100%;
    opacity: 1;
    flex-direction: row;
    transform: scale(1);
    justify-content: space-between;
  }

  .navigation__link {
    padding-bottom: 0;
  }

  .navigation__menu li:first-child {
    display: none;
  }

  .navigation__link_active {
    border-bottom: none;
    font-size: 13px;
    font-weight: 500;
  }
}
